.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00031c;
    min-height: calc(100vh - 70px);
    padding: 20px 80px;
}

.heroText{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    gap: 10px;
}
.title{
    color: #ffffff;
    font-size: 3rem;
}
.texte{
    color: #b0b3c6;
}
.buttonContainer{
    display: flex;
    justify-content: space-evenly;
}
.button1{
    display: flex;
    flex:1;
    color: #ffffff;
    background: linear-gradient(to bottom, #f4bb66, #ff6f00);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
}
.button2{
    display: flex;
    flex: 1;
    color: #ffffff;
    background: linear-gradient(to bottom, #40c6ff, #007fb5);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
}
.heroImage{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.heroImage img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 16px;
    
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4), 
                0 0 50px rgba(64, 198, 255, 0.1); /* Léger halo bleu qui rappelle tes boutons */
    
    animation: float 6s ease-in-out infinite;
}