a{
  text-decoration: none;
  color: black;
}
.navbar{
  display: flex;
  background-color: #00031c;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 30px;
  position: sticky;
  top:0;
  z-index: 1000;
  border-bottom: #3a3a3a solid 1px;
}
.logo{
  display: flex;
  flex: 1;
  font-size: 150%;
  background: linear-gradient(to bottom, #f4bb66, #ff6f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
}

.functionContainer{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.functions{
  color: #40c6ff;
}